streamlit
git+https://github.com/tantanchen/dspy.git
groq
colbert
transformers==4.30.2
torch==2.0.1
einops==0.6.1
accelerate==0.20.3
datasets==2.14.6
chromadb
sentence-transformers==2.2.2
langchain
langchain-community
sqlite3 >= 3.35.0
